@model IEnumerable<LosGrisesWeb.ProxyLibro.LibroDC>

@{
    ViewBag.Title = "Index";
    var alias = ViewBag.LibroAlias as Dictionary<string, string>;
}

<h2>Mantenimiento Libros</h2>

<p>
    <a href='@Url.Action("Create", new { controller = "Libro", action = "Create" })'>
        <img src="~/Images/Agregar.png" title="Agregar" />  Registrar
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @alias["lib_id"]
        </th>
        <th>
            @alias["lib_nom"]
        </th>
        <th>
            @alias["aut_nom"]
        </th>
        <th>
            @alias["aut_ape"]
        </th>
        <th>
            @alias["gen_desc"]
        </th>
        <th>
            @alias["lib_edi"]
        </th>
        <th>
            @alias["edi_nom"]
        </th>
        <th>
            @alias["lib_disp_stock"]
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lib_id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.lib_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aut_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aut_ape)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gen_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_edi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edi_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lib_disp_stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>

        <td>
            <a href='@Url.Action("Edit", new { id = item.lib_id })'>
                <img src="~/Images/Editar.png" title="Editar" />  Editar
            </a>
            <a href='@Url.Action("Details", new { id = item.lib_id })'>
                <img src="~/Images/Buscar.png" title="Consultar" />  Detalle
            </a>
        </td>
    </tr>
}

</table>
