
@{
    ViewBag.Title = "RentasXFechas";
}

<h2>Últimas rentas realizadas</h2>

@using (Html.BeginForm("FiltrarRentas", "Consulta"))
{
    <label for="FechaInicio">Fecha Inicio:</label>
    <input type="date" id="FechaInicio" name="FechaInicio" required />

    <label for="FechaFin">Fecha Fin:</label>
    <input type="date" id="FechaFin" name="FechaFin" required />

    <input type="text" id="Cliente" name="Cliente" />

    <button type="submit" name="FiltrarRentas">Filtrar</button>
}

<table>
    <tr>
        <th>
            Id de Renta
        </th>
        <th>
            Fecha de Renta
        </th>
        <th>Cliente</th>
        <th>Libro</th>
        <th>Observación</th>
    </tr>
    @foreach (var renta in ViewBag.RentasXFechas)
    {
        <tr>
            <th>@renta.rent_id</th>
            <th>@renta.rent_fec</th>
            <th>@renta.cliente</th>
            <th>@renta.lib_nom</th>
            <th>@renta.rent_obs</th>
        </tr>

    }
</table>