@model LosGrisesWeb.ProxyPersonal.PersonalDC

@{
    ViewBag.Title = "Crear Personal";
    var alias = ViewBag.PersonalAlias as Dictionary<string, string>;
}

<h2>Crear Nuevo Personal</h2>

@using (Html.BeginForm("Create", "Personal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_nom"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_nom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_nom, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_ape_pat"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_ape_pat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_ape_pat, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_ape_mat"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_ape_mat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_ape_mat, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_dni"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_dni, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_tel"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_tel, new { @class = "form-control", type = "tel" })
                @Html.ValidationMessageFor(model => model.per_tel, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_mail"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_mail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["ubg_id"]</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ubg_id, (SelectList)ViewBag.UbgId, "Seleccione un Ubigeo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ubg_id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_dir"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_dir, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_dir, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_fec_ing"]</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.per_fec_ing, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.per_fec_ing, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">@alias["per_state"]</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.per_state,
                    new SelectList(new List<string> { "Activo", "Inactivo" }),
                    "Seleccione Estado",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.per_state, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="per_foto">@alias["per_foto"]</label>
            <div class="col-md-10">
                <input type="file" name="per_foto" class="form-control" />
                @Html.ValidationMessageFor(model => model.per_foto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Personal")" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </div>
}
