@model LosGrisesWeb.ProxyCliente.ClienteDC

@{
    ViewBag.Title = "Edit";
    var alias = ViewBag.ClienteAlias as Dictionary<string, string>;
}

<h2>Editar Cliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @*@Html.LabelFor(model => model.cli_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_id"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.cli_id, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @*@Html.LabelFor(model => model.cli_nom, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_nom"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_nom, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_nom, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.cli_ape, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_ape"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_ape, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_ape, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.cli_dir, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_dir"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_dir, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_dir, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @*@Html.LabelFor(model => model.cli_tel, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_tel"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_tel, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_tel, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @*@Html.LabelFor(model => model.cli_mail, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_mail"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_mail, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_mail, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.cli_dni, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_dni"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_dni, new { htmlAttributes = new { @class = "form-control",  maxlength = "8", minlength = "8", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_dni, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @*@Html.LabelFor(model => model.ubg_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["ubg_id"]
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ubg_id, (SelectList)ViewBag.UbgId,
        "Seleccione un Ubigeo", new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ubg_id, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.cli_fec_nac, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_fec_nac"]
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.cli_fec_nac_serializado, new { @class = "form-control", type = "date", required = "required" })
        @Html.ValidationMessageFor(model => model.cli_fec_nac_serializado, "", new { @class = "text-danger" })

    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.cli_sex, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_sex"]
    <div class="col-md-10">
        @Html.EditorFor(model => model.cli_sex, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        @Html.ValidationMessageFor(model => model.cli_sex, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @*@Html.LabelFor(model => model.cli_state, htmlAttributes: new { @class = "control-label col-md-2" })*@
    @alias["cli_state"]
    <div class="col-md-10">
        @*@Html.EditorFor(model => model.cli_state, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.cli_state, "", new { @class = "text-danger" })*@
        @Html.DropDownList("EstadoCliente", null, htmlAttributes: new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.cli_state, "", new { @class = "text-danger" })
    </div>
</div>

 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-outline-primary mt-2" />
        </div>
    </div>
</div>
}

<div class="btn btn-outline-warning mt-2">
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
